body {
  margin: 0;
  font-family: Verdana, sans-serif;
}

* {
  box-sizing: border-box;
}

.container {
  
  max-width: 800px;
  margin: auto auto;
  
}

.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  background: #eceee0;
  height: 70px;
  padding-left: 30px;
  padding-right: 30px;
}

.logo {
  width: 50px;
  height: 50px;
  background-color: #65bb69;
  border-radius: 100%;
}

.link {
  color: black;
  text-decoration: none;
  margin-right: 10px;
  margin-left: 10px;
  transition: 0.3s;
}

.link:hover {
  color: #65bb69;
}

.link svg {
  position: relative;
  top: 2px;
}

.link svg rect {
  stroke: black;
  transition: 0.3s;
}

.link:hover svg rect {
  stroke: #65bb69;
}
.btn{
width: 160px;
height: 40px;
display: inline-flex;
justify-content: center;
align-items: center;
background: #65BB69;
border-radius: 50px;
color: white;
text-decoration: none;
}
.link{
 width: 103px;
height: 17px;
left: 355px;
top: 288px;

font-family: 'Verdana';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 17px;
color: #0f0e0e;
}
.container-second {
  max-width: 800px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto auto;
  background:  #4D4B59;
  height: 370px;
}
.box{
  margin: auto auto; 
  text-align: center;
}

.box p {
  color: white;
  font-size: 24px;
}

.tiger-image {
  width: 50%;
  height: 100%;
  background-position: center;
  background-size: cover;
}

.hero-block-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 370px;
  background-color: #4D4B59;
}

.circle{
  width: 800px;
  height: 500px;
  
  background-color: #65BB69;
  display: flex;
  align-items: center;
  justify-content: center;
  }
  .elipse{
    
    width: 150px;
   height: 150px;
   
   border-radius: 100%;
   background: #FFFFFF;
  }